.event-class {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.event-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.size-class {
  width: 500px;
}
