<div class="event-class">
  <img src="{{ event.imageUrl }}">
  <div class="event-info">
    <h1><b>{{ event.title }}</b></h1>
    <h2>{{ event.date }}</h2>
    <h3 class="size-class">{{ event.location.name }}, {{ event.location.address }}</h3>
    <p class="size-class">{{ event.shortDescription }}</p>
    <p *ngIf="showMoreDetails" class="size-class">{{ event.description }}</p>
    <a (click)="showMoreDetails = !showMoreDetails">Show more details</a>
  </div>
</div>
<app-tickets *ngIf="eventDate > currentDate" [event]="event"></app-tickets>
<div *ngIf="eventDate <= currentDate" class="past-event">Event is in the past!</div>
