.event-class {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.event-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.tickets-class {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px #ccc;
}


.size-class {
  width: 500px;
}

a {
  color: #fff;
  cursor: pointer;
}
