.event-class {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.event-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tickets-class {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px #ccc;
}


.size-class {
  width: 500px;
}

img {
  max-height: 360px;
}

a {
  color: #fff;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.past-event {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
  font-size: 20px;
}
