<div class="container-fluid">
  <div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Resetare parola</div>
    <div class="card-body px-5">
      <p class="card-text py-2">
        Introduce adresa email si iti vom trimite un email cu instructiuni pentru resetarea parolei.
      </p>
      <form [formGroup]="registrationForm">
        <mdb-form-control class="mb-4">
          <input #email mdbInput type="text" id="email" class="form-control" formControlName="email" required/>
          <label mdbLabel class="form-label" for="email">Email</label>
        </mdb-form-control>
        <div *ngIf="registrationForm.get('email')?.errors?.['required'] && registrationForm.get('email')?.touched" class="text-danger mb-4">
          Email-ul este obligatoriu
        </div>
        <div *ngIf="registrationForm.get('email')?.errors?.['email'] && registrationForm.get('email')?.touched" class="text-danger mb-4">
          Email-ul are un format invalid
        </div>
      </form>

      <button href="#" class="btn btn-primary w-100" (click)="onResetPasswordClick()">Resetare parola</button>
      <div class="d-flex justify-content-between mt-4">
        <a class="" routerLink="/login">Login</a>
        <a class="" routerLink="/register">Inregistrare</a>
      </div>
    </div>
  </div>
</div>
