<div class="container-sm">
  <button class="mb-3 back-button" routerLink="/login">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1><b>Forgot password?</b></h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" [(ngModel)]="email"/>
  </mat-form-field>
  <br>
  <app-input-fields-error> Please enter a valid email! </app-input-fields-error>
  <br>
  <button class="mb-3" mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
</div>
