<mat-form-field>
  <mat-label>Order number</mat-label>
  <input matInput type="text" [(ngModel)]="orderNumber">
</mat-form-field>
<button mat-raised-button color="primary" (click)="fetchById()">Search by id</button>
<br>
<mat-form-field>
  <mat-label>User ID</mat-label>
  <input matInput type="text" [(ngModel)]="userId">
</mat-form-field>
<button mat-raised-button color="primary" (click)="fetchByUserId()">Search by user</button>
<br>
<div *ngFor="let order of orders">
  <mat-card>
    <mat-card-title><b>Order {{order.orderNumber}}</b>
      <button *ngIf="order.status == 'CONFIRMED'" mat-raised-button color="primary" (click)="cancelOrder(order)">Cancel</button>
    </mat-card-title>
    <mat-card-content>
      <p>Date: {{order.date}}</p>
      <p>Total price: {{order.price}}</p>
      <p>Status: {{order.status}}</p>
      <br>
      <div>
        <h3><b>User details</b></h3>
        <p>Name: {{order.user.firstName}} {{order.user.lastName}}</p>
        <p>Email: {{order.user.email}}</p>
      </div>
      <br>
      <div>
        <h3><b>Tickets</b></h3>
        <div *ngFor="let ticket of order.ticketList">
          <button *ngIf="ticket.status == 'CONFIRMED'" mat-raised-button color="primary" (click)="cancelTicket(ticket)">Cancel</button>
          <p>Event title: {{ticket.ticketType.event.title}}</p>
          <p>Event date: {{ticket.ticketType.event.date}}</p>
          <p>Category: {{ticket.ticketType.name}}</p>
          <p>Price: {{ticket.ticketType.price}}</p>
          <p>Status: {{ticket.status}}</p>
          <hr>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

