.container-fluid {
  padding: 20px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navigation-item {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.navigation-item:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #e0e0e0;
}

.vertical-line {
  border-left: 1px solid #ccc;
  height: 100%;
}

.options {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.selected-filters {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-container {
  overflow-y: auto;
}

.filter {
  padding: 5px;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex: 1;
}

.bottom-buttons {
  flex-shrink: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
