h1 {
  text-align: center;
}

img {
  width: auto;
  height: 100%;
}

.event-title {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.event-card {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 400px;
  height: 200px;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.event-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.event-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
