.container {
  margin: 10px;
}

mat-form-field {
  width: 100%;
}

.event-card {
  width: auto;
  height: 120px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

img {
  width: auto;
  height: 120px;
}

.delete-button {
  justify-content: flex-end;
}
