<h1>Recommended events</h1>
<button mat-raised-button color="primary" (click)="addTopEvent()">Add</button>
<div *ngFor="let topEvent of topEventList" class="event-card">
  <img src="{{topEvent.event.imageUrl}}">
  <mat-card >
    <mat-card-header>
      <mat-card-title>{{topEvent.event.title}}</mat-card-title>
      <mat-card-subtitle>{{topEvent.date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{topEvent.event.location.name}} | {{topEvent.event.date}}</p>
    </mat-card-content>
    <mat-card-actions class="delete-button">
          <button mat-raised-button color="primary" (click)="deleteTopEvent(topEvent)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

