<mat-form-field>
  <input matInput [(ngModel)]="location.name" placeholder="Location Name" required>
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="location.address" placeholder="Location Address" required>
</mat-form-field>
<div>
  <input type="file" accept=".jpg, .jpeg, .png, .bmp" #fileInput (change)="onFileSelected($event)" required>
</div>
<div *ngIf="imageSrc !== null">
  <img [src]="imageSrc">
  <button mat-icon-button (click)="onCancelButtonClick()">
    <mat-icon>cancel</mat-icon>
  </button>
</div>
<app-input-fields-error>{{ message }}</app-input-fields-error>
