<mat-expansion-panel *ngFor="let index of indexes">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ index }}</mat-panel-title>
    <mat-panel-description>{{ data[index] | truncateText }}</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field *ngIf="index !== 'role'">
    <input matInput [(ngModel)]="toEditData[index]" placeholder="Value">
  </mat-form-field>
  <mat-form-field *ngIf="index === 'role'">
    <mat-select [(ngModel)]="toEditData[index]" placeholder="Role">
      <mat-option [value]="'ADMIN'"> ADMIN </mat-option>
      <mat-option [value]="'USER'"> USER </mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
<app-edit-buttons [dialogRef]="dialogRef" [data]="toEditData"></app-edit-buttons>
