<div class="tickets-class">
  <h1><b>Tickets</b></h1>
  <mat-divider></mat-divider>
  <div class="ticket-types" *ngFor="let ticket of selectedTicketTypes">
    <div class="ticket-types-info">
      <h2>{{ ticket.ticketType.name }}</h2>
      <h3>{{ ticket.ticketType.price | currency:'RON ' }}</h3>
      <p> Remaining tickets: {{ ticket.ticketType.quantity }}</p>
    </div>
    <div class="quantity-picker">
      <button mat-icon-button (click)="decreaseQuantity(ticket)">
        <mat-icon>remove</mat-icon>
      </button>
      <input type="number" [(ngModel)]="ticket.quantity" min="0" [max]="ticket.ticketType.quantity">
      <button mat-icon-button (click)="increaseQuantity(ticket)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="addTicketsToCart()">Buy</button>
</div>
