<div class="toolbar-container">
  <mat-toolbar *ngIf="!shouldHide()" color="primary">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <div class="locations-menu"
      (mouseenter)="onMouseEnterPlaces(locations)" (mouseleave)="onMouseLeavePlaces(locations)">
      <a #locations>Locations</a>
      <app-locations-menu *ngIf="getNavbarService(locations).showPlacesMenu"></app-locations-menu>
    </div>
    <span class="spacer"></span>
    <input placeholder="Search"/>
    <span class="spacer"></span>
    <button *ngIf="getJwtHandler().getRole() == 'ADMIN'" mat-button routerLink="admin-dashboard">Admin Dashboard</button>
    <app-account-menu></app-account-menu>
  </mat-toolbar>
</div>
