<div class="toolbar-container">
  <mat-toolbar *ngIf="!isLoginOrRegisterPage()" color="primary">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <div class="places-menu"
      (mouseenter)="onMouseEnterPlaces(places)" (mouseleave)="onMouseLeavePlaces(places)">
      <a #places>Places</a>
      <app-places-menu *ngIf="getNavbarService(places).showPlacesMenu"></app-places-menu>
    </div>
    <span class="spacer"></span>
    <input placeholder="Search"/>
    <span class="spacer"></span>
    <button *ngIf="getJwtHandler().getRole() == 'ADMIN'" mat-button routerLink="admin-dashboard">Admin Dashboard</button>
    <app-account-menu></app-account-menu>
  </mat-toolbar>
</div>
