<div class="container-sm">
  <div>
    <span class="mdi mdi-arrow-left" routerLink="/home"></span>
  </div>
  <h1><b>Sign in</b></h1>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" [(ngModel)]="username"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password"/>
  </mat-form-field>
  <br>
  <button class="mb-3" mat-raised-button color="primary" (click)="login()">Login</button>
  <br>
  <a class="link-primary" routerLink="/forgot-password">Forgot password?</a>
  <br>
  <a class="link-primary" routerLink="/register">Don't have an account? Register here!</a>
</div>
