<h1><b>Shopping cart</b></h1>
<div>
  <mat-card *ngFor="let shoppingCartItem of shoppingCart?.shoppingCartItemList">
    <mat-card-title-group>
      <mat-card-title>{{shoppingCartItem.ticketType.event.title}}</mat-card-title>
      <mat-card-subtitle>{{shoppingCartItem.ticketType.name}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p>Quantity: {{shoppingCartItem.quantity}}</p>
      <p>Total price: {{shoppingCartItem.ticketType.price * shoppingCartItem.quantity}} RON</p>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field style="width: 70px;">
        <mat-select placeholder="Quantity" [(ngModel)]="shoppingCartItem.quantity" (selectionChange)="onQuantityChange(shoppingCartItem)">
          <mat-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">
            {{i}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onRemoveClick(shoppingCartItem.ticketType)">Remove</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="shoppingCart.shoppingCartItemList.length == 0">
    <p>Shopping cart is empty</p>
  </div>
  <div *ngIf="shoppingCart.shoppingCartItemList.length > 0">
    <h2>Total price: {{shoppingCart.price}} RON</h2>
    <button mat-raised-button color="primary" (click)="onBuyClick()">Buy</button>
  </div>
</div>
