<div class="container-sm">
  <h1><b>Sign up</b></h1>
  <mat-form-field class="mt-4 me-5">
    <mat-label>First Name</mat-label>
    <input matInput type="text" [(ngModel)]="firstName" required/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput type="text" [(ngModel)]="lastName" required/>
  </mat-form-field>
  <br>
  <mat-form-field class="me-5">
    <mat-label>Username</mat-label>
    <input matInput type="text" [(ngModel)]="username" required/>
  </mat-form-field>
  <mat-form-field id="email">
    <mat-label>Email</mat-label>
    <input matInput type="text" [(ngModel)]="email" required email/>
  </mat-form-field>
  <br>
  <mat-form-field class="me-5">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" required/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" [(ngModel)]="confirmPassword" required/>
  </mat-form-field>
  <app-input-fields-error></app-input-fields-error>
  <br>
  <button class="mb-3" mat-raised-button color="primary" (click)="onRegister()">Register</button>
  <br>
  <a routerLink="/login">Already have an account? Login</a>
</div>
