<div class="container-fluid">
  <form [formGroup]="registrationForm">
    <mdb-form-control class="mb-4">
      <input #firstName mdbInput type="text" id="firstName" class="form-control" formControlName="firstName" required/>
      <label mdbLabel class="form-label" for="firstName">Prenume</label>
    </mdb-form-control>
    <div *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched" class="text-danger mb-4">
      Prenumele este obligatoriu
    </div>

    <mdb-form-control class="mb-4">
      <input #lastName mdbInput type="text" id="lastName" class="form-control" formControlName="lastName" required/>
      <label mdbLabel class="form-label" for="lastName">Nume</label>
    </mdb-form-control>
    <div *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched" class="text-danger mb-4">
      Numele este obligatoriu
    </div>

    <mdb-form-control class="mb-4">
      <input #username mdbInput type="text" id="username" class="form-control" formControlName="username" required/>
      <label mdbLabel class="form-label" for="username">Username</label>
    </mdb-form-control>
    <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched" class="text-danger mb-4">
      Username-ul este obligatoriu
    </div>

    <mdb-form-control class="mb-4">
      <input #email mdbInput type="text" id="email" class="form-control" formControlName="email" required/>
      <label mdbLabel class="form-label" for="email">Email</label>
    </mdb-form-control>
    <div *ngIf="registrationForm.get('email')?.errors?.['required'] && registrationForm.get('email')?.touched" class="text-danger mb-4">
      Email-ul este obligatoriu
    </div>
    <div *ngIf="registrationForm.get('email')?.errors?.['email'] && registrationForm.get('email')?.touched" class="text-danger mb-4">
      Email-ul are un format invalid
    </div>

    <mdb-form-control class="mb-4">
      <input #password mdbInput type="password" id="password" class="form-control" formControlName="password" required/>
      <label mdbLabel class="form-label" for="password">Password</label>
    </mdb-form-control>
    <div *ngIf="registrationForm.get('password')?.errors?.['required'] && registrationForm.get('password')?.touched" class="text-danger mb-4">
      Parola este obligatorie
    </div>
    <div *ngIf="registrationForm.get('password')?.errors?.['minlength'] && registrationForm.get('password')?.touched" class="text-danger mb-4">
      Parola trebuie sa aiba minim 6 caractere
    </div>

    <mdb-form-control class="mb-4">
      <input #confirmPassword mdbInput type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" required/>
      <label mdbLabel class="form-label" for="confirmPassword">Confirm password</label>
    </mdb-form-control>
    <div *ngIf="registrationForm.get('password')?.touched && registrationForm.get('confirmPassword')?.touched && registrationForm.errors?.['passwordMismatch']
                && !registrationForm.get('password')?.errors" class="text-danger mb-4">
      Parolele nu coincid
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="form-check">
          <input #terms mdbInput type="checkbox" class="form-check-input" id="terms" formControlName="terms" required
                 [ngStyle]="{ 'border-color': registrationForm.get('terms')?.invalid && registrationForm.get('terms')?.touched ? 'red' : '' }"/>
          <label class="form-check-label font-12" for="terms">Sunt de acord cu <a href="">termenii si conditiile</a></label>
        </div>
      </div>
      <div class="col font-12 ms-5">
        Ai cont?
        <a routerLink="/login">Inapoi la login?</a>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="onRegister()">Sign in</button>

  </form>
</div>

