a {
  color: white;
  text-decoration: none;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #69f0ae !important;
}

.mat-form-field-underline {
  background-color: white !important;
}
.mat-form-field-ripple {
  background-color: white !important;
}
