<div class="toolbar-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a class="navbar-brand" routerLink="/home">Home</a>
      <span class="spacer"></span>
      <mat-form-field class="search">
        <input id="searchInput" matInput  placeholder="Search"/>
        <mat-icon matPrefix color="primary">search</mat-icon>
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-flat-button color="primary" (click)="onShoppingCartClick()">
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
      </button>
      <app-account-menu></app-account-menu>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="locations-menu"
           (mouseenter)="onMouseEnterLocations()" (mouseleave)="onMouseLeaveLocations()">
        <a id="locations-anchor">Locations</a>
        <app-locations-menu *ngIf="getNavbarService().showLocationMenu"></app-locations-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
