<div class="toolbar-container">
  <mat-toolbar color="primary">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <div class="locations-menu"
         (mouseenter)="onMouseEnterLocations()" (mouseleave)="onMouseLeaveLocations()">
      <a id="locations-anchor">Locations</a>
      <app-locations-menu *ngIf="getNavbarService().showLocationMenu"></app-locations-menu>
    </div>
    <span class="spacer"></span>
    <input placeholder="Search"/>
    <span class="spacer"></span>
    <button mat-flat-button color="primary">
      <i class="fa-solid fa-cart-shopping fa-lg"></i>
    </button>
    <app-account-menu></app-account-menu>
  </mat-toolbar>
</div>
