<div class="modal-content">
  <div class="modal-header mb-5">
    <h5 class="modal-title" id="exampleModalLabel">Schimba parola</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCloseClick()"></button>
  </div>
  <div class="modal-body mb-3">
    <form [formGroup]="form">
      <mdb-form-control class="mb-4">
        <input #oldPassword mdbInput type="password" id="oldPassword" class="form-control" formControlName="oldPassword" required/>
        <label mdbLabel class="form-label" for="oldPassword">Parola veche</label>
      </mdb-form-control>
      <div *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched" class="text-danger mb-4">
        Parola veche este obligatorie
      </div>

      <mdb-form-control class="mb-4">
        <input #password mdbInput type="password" id="password" class="form-control" formControlName="password" required/>
        <label mdbLabel class="form-label" for="password">Parola noua</label>
      </mdb-form-control>
      <div *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched" class="text-danger mb-4">
        Parola noua este obligatorie
      </div>
      <div *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched" class="text-danger mb-4">
        Parola noua trebuie sa aiba minim 6 caractere
      </div>

      <mdb-form-control class="mb-4">
        <input #confirmPassword mdbInput type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" required/>
        <label mdbLabel class="form-label" for="confirmPassword">Confirm password</label>
      </mdb-form-control>
      <div *ngIf="form.get('password')?.touched && form.get('confirmPassword')?.touched && form.errors?.['passwordMismatch']
                && !form.get('password')?.errors" class="text-danger mb-4">
        Parolele nu coincid
      </div>
    </form>
  </div>
  <div class="modal-footer mt-2">
    <button type="button" class="btn btn-secondary me-1" (click)="onCloseClick()">
      Anuleaza
    </button>
    <button type="button" class="btn btn-primary" (click)="onConfirmClick()">Salveaza</button>
  </div>
</div>
