.footer-container {
  padding: 20px 20px;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
  gap: 60px;
}

i {
  font-size: 30px;
  color: white;
  transition: all 0.3s ease-in-out;
}
