<mat-sidenav-container class="admin-dashboard-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <h1>Admin Dashboard</h1>
    <button mat-button routerLink="/admin-dashboard">Home</button>
    <br>
    <button mat-button routerLink="manage">Manage</button>
    <br>
    <button mat-button routerLink="statistics">Statistics</button>
    <br>
    <button mat-button routerLink="settings">Settings</button>
    <br>
    <button mat-button (click)="logout()">Logout</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
