<div class="container-fluid">
  <h1>{{event.title}}</h1>
  <p>{{event.location?.name}} | {{event.date}}</p>
  <div class="content">
    <div class="tickets">
      <h2>Tickets</h2>
      <div *ngFor="let ticket of tickets">
        <p>{{ticket.ticketType.name}} | {{ticket.ticketType.price}} RON | {{tickets.length}}</p>
        <button class="btn btn-primary" (click)="displayQR(ticket)">View QR</button>
        <br>
        <img *ngIf="ticket.shouldDisplayQR" src="data:image/png;base64, {{ticket.image}}">
      </div>
    </div>
    <button class="btn btn-primary map-button" (click)="showMap()">Show map</button>
  </div>
</div>
