<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Username</mat-panel-title>
    <mat-panel-description>{{ user.username }}</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
    <input matInput [(ngModel)]="toEditData.username" placeholder="Username">
  </mat-form-field>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>First name</mat-panel-title>
    <mat-panel-description>{{ user.firstName }}</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
    <input matInput [(ngModel)]="toEditData.firstName" placeholder="First name">
  </mat-form-field>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Last name</mat-panel-title>
    <mat-panel-description>{{ user.lastName }}</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
    <input matInput [(ngModel)]="toEditData.lastName" placeholder="Last name">
  </mat-form-field>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Email</mat-panel-title>
    <mat-panel-description>{{ user.email }}</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
    <input matInput [(ngModel)]="toEditData.email" placeholder="Email">
  </mat-form-field>
</mat-expansion-panel>
<!--ROLE-->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Role</mat-panel-title>
    <mat-panel-description>{{ user.role }}</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
    <mat-select [(ngModel)]="toEditData.role" placeholder="Role">
      <mat-option [value]="'ADMIN'"> ADMIN </mat-option>
      <mat-option [value]="'USER'"> USER </mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>

<app-edit-buttons [dialogRef]="dialogRef" [data]="toEditData"></app-edit-buttons>
