<div class="container-fluid">
  <div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Resetare parola</div>
    <div class="card-body px-5">
      <form [formGroup]="form">
        <mdb-form-control class="mb-4">
          <input #password mdbInput type="password" id="password" class="form-control" formControlName="password" required/>
          <label mdbLabel class="form-label" for="password">Password</label>
        </mdb-form-control>
        <div *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched" class="text-danger mb-4">
          Parola este obligatorie
        </div>
        <div *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched" class="text-danger mb-4">
          Parola trebuie sa aiba minim 6 caractere
        </div>

        <mdb-form-control class="mb-4">
          <input #confirmPassword mdbInput type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" required/>
          <label mdbLabel class="form-label" for="confirmPassword">Confirm password</label>
        </mdb-form-control>
        <div *ngIf="form.get('password')?.touched && form.get('confirmPassword')?.touched && form.errors?.['passwordMismatch'] && !form.get('password')?.errors" class="text-danger mb-4">
          Parolele nu coincid
        </div>
        <button class="btn btn-primary" (click)="onClickConfirm()">Reseteaza parola</button>
      </form>
    </div>
  </div>
</div>
