a {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.full-size-navbar-items {
  display: flex;
}

.nav-item {
  padding: 10px;
  font-size: 18px;
  min-width: 85px;
  border-radius: 5px;
  margin-top: 2px;
  border-bottom: 2px solid transparent;
  text-align: center;
  color: black;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  transition: border-bottom-color 0.5s ease, background-color 0.5s ease;
}

.nav-item:hover {
  background-color: #f1f1f1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #3356b9;
}

.nav-item.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #3356b9;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-container a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-container a:hover {
  background-color: #f1f1f1;
}

.account-dropdown {
  max-width: 210px;
  left: auto;
}


.dropdown-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  padding: 20px;
  gap: 20px;
}

.letter {
  font-size: 20px;
  font-weight: bold;
}

.dropdown-title {
  padding: 10px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 18px;
  min-width: 85px;
}

.right-buttons {
  display: flex;
}


.account-button {
  width: 120px;
}

.shopping-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.search {
  flex: 1;
}
