.locations-dropdown {
  position: absolute;
  top: 5%;
  left: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 47%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px;
  z-index: 100;
}

mat-card {
  margin-bottom: 10px;
  width: 150px;
  height: auto;
}

mat-card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

mat-card-subtitle {
  padding: 2px;
}

img {
  width: 100%;
  height: 100%;
}
