<header>
  <nav class="navbar">
    <a class="navbar-brand" routerLink="/">Bileteria</a>
    <app-full-size-navigation class="full-size-navbar-container" [locations]="locations" [artists]="artists" [broadGenres]="broadGenres" [shoppingCartSize]="shoppingCartSize"></app-full-size-navigation>
    <app-mobile-size-navigation class="mobile-size-navbar-container" [locations]="locations" [artists]="artists" [broadGenres]="broadGenres" [shoppingCartSize]="shoppingCartSize"></app-mobile-size-navigation>
  </nav>
</header>
