<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="d-flex ">
        <a class="navbar-brand" routerLink="/">Bileteria</a>
        <a
          class="mt-2"
          type="button"
          (click)="externalContent.toggle()"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Locatii
        </a>
        <a class="ms-3 mt-2" routerLink="/artists/A">Artisti</a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        (click)="noListNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse"
           id="navbarNavAltMarkup"
           mdbCollapse
           #noListNav="mdbCollapse">

        <input
          #searchInput
          type="search"
          class="form-control rounded form-control-lg ms-3"
          placeholder="Cauta"
          aria-label="Search"
          [(ngModel)]="searchText"
          (ngModelChange)="onSearchTextChange($event)"
        />
        <span class="input-group-text border-0 me-4" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        <div class="d-flex">
          <button class="me-5 shopping-cart-button" (click)="onShoppingCartClick()">
            <i class="fas fa-shopping-cart"></i>
          </button>
          <div mdbDropdown class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink"
              role="button"
              mdbDropdownToggle
              aria-expanded="false"
            >
              <i *ngIf="!getIdentityService().isLoggedIn()" class="fa-solid fa-user me-4"></i>
              <div *ngIf="getIdentityService().isLoggedIn()">
                Salut, {{ getIdentityService().getUsername() }}
              </div>
            </a>
            <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li *ngIf="!getIdentityService().isLoggedIn()">
                <a class="dropdown-item" routerLink="/login">Login</a>
              </li>
              <li *ngIf="getIdentityService().isLoggedIn()">
                <a class="dropdown-item" routerLink="/account">Contul meu</a>
              </li>
              <li *ngIf="getIdentityService().isLoggedIn()">
                <a class="dropdown-item" routerLink="/account/orders">Comenzile mele</a>
              </li>
              <li *ngIf="getIdentityService().isLoggedIn()">
                <a class="dropdown-item" routerLink="/track">Urmareste evenimentele</a>
              </li>
              <li *ngIf="getIdentityService().isLoggedIn()">
                <a role="button" class="dropdown-item" (click)="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div
    class="collapse"
    id="navbarToggleExternalContent"
    mdbCollapse
    #externalContent="mdbCollapse"
  >
    <app-loading *ngIf="loading"></app-loading>
    <div *ngIf="!loading" class="locations-container d-flex flex-row flex-wrap">
      <a role="button" class="card col-6 col-md-4 col-lg-2" [routerLink]="[location.name]" [queryParams]="{ id: location.id }"
         *ngFor="let location of locationsToDisplay" (click)="externalContent.toggle()">
        <img alt="" class="img-fluid" src="{{ location.imageUrl }}" />
        <div class="card-body">
          <h5 class="card-title">{{ location.name }}</h5>
        </div>
      </a>
      <button class="btn next-button" (click)="scrollToNext()">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
  </div>

</header>
<div #searchDropdown *ngIf="showDropdown && (searchLocations.length > 0 || searchEvents.length > 0)" class="search-dropdown">
  <ul>
    <h4 *ngIf="searchLocations.length > 0">Locatii</h4>
    <li *ngFor="let searchLocation of searchLocations"
        [routerLink]="[searchLocation.name]" [queryParams]="{ id: searchLocation.id }">
      <a>{{ searchLocation?.name }}</a>
    </li>
    <h4 *ngIf="searchEvents.length > 0" class="mt-2">Evenimente</h4>
    <li *ngFor="let searchEvent of searchEvents"
        [routerLink]="[searchEvent.locationName, searchEvent.title]" [queryParams]="{ id: searchEvent.id }">
      <a>{{ searchEvent?.title }}</a>
    </li>
    <h4 *ngIf="searchArtists.length > 0" class="mt-2">Artisti</h4>
    <li *ngFor="let searchArtist of searchArtists"
        [routerLink]="['artist', searchArtist.name]" [queryParams]="{ id: searchArtist.id }">
      <a>{{ searchArtist?.name }}</a>
  </ul>
</div>
