<mat-expansion-panel *ngFor="let index of indexes">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ index }}</mat-panel-title>
    <mat-panel-description *ngIf="index !== 'imageUrl'">{{ data[index] | truncateText }}</mat-panel-description>
    <mat-panel-description *ngIf="index === 'imageUrl'">
      <img [src]="data[index]" alt="image" width="100" height="100">
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field *ngIf="index !== 'imageUrl'">
    <input matInput [(ngModel)]="toEditData[index]" placeholder="Value">
  </mat-form-field>
</mat-expansion-panel>
<div>
  <input type="file" accept=".jpg, .jpeg, .png, .bmp" #fileInput (change)="onFileSelected($event)">
  <div *ngIf="imageSrc !== null">
    <img [src]="imageSrc" alt="image" width="100" height="100">
    <button mat-icon-button (click)="onCancelButtonClick()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>
<br>
<app-edit-buttons [dialogRef]="dialogRef" [data]="toEditData"></app-edit-buttons>
